form {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 30px;
  row-gap: 1rem;
  margin: 24px;
  justify-content: center;
}

.locationButton {
  width: 25%;
  justify-self: center;
}

.input-element {
  display: grid;
}

.error-msg {
  color: red;
  text-align: right;
  font-size: 14px;
}

.location-table-row {
  justify-content: center;
  display: grid;
  grid-template-columns: 125px 250px;
}

.location-table-image {
  grid-row: 1 / span 4;
}
