form {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 30px;
  row-gap: 1rem;
  margin: 24px;
  justify-content: center;
}

.locationButton {
  width: 25%;
  justify-self: center;
}

.input-element {
  display: grid;
}

.error-msg {
  color: red;
  text-align: right;
  font-size: 14px;
}

.location-table {
  display: grid;
}

.location-table-row {
  justify-content: center;
  display: grid;
  grid-template-columns: 128px 250px 0px;
  gap: 5px;
  height: 128px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 6px auto;
}

.location-table-row:hover {
  border-left: 8px solid #ef8354;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.location-table-image {
  grid-row: 1 / span 4;
}

.location-table-name {
  font-weight: 500;
  margin-top: 10px;
}

.location-table-rating {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.location-table-description {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.location-control-panel {
  display: none;
  background: blueviolet;
  grid-row: 1 / span 4;
  margin-left: -50px;
}

.location-table-row:hover > .location-control-panel {
  display: block;
}

.location-form {
  width: 100%;
}
