.login-container {
  display: grid;
  background: aqua;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-page > form {
  background: darkgoldenrod;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
}

.submit-button {
  text-align: center;
  background: crimson;
}
