.auth-container {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth-page {
  border: 1px solid black;
  border-radius: 20px;
  padding: 24px;
  max-width: 306px;
}

.auth-page > form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 5px 30px);
  row-gap: 1rem;
}

.submit-button {
  text-align: center;
}

.auth-nav {
  text-align: right;
  margin: 8px 24px 0 0;
}

input {
  padding: 5px;
}

h1 {
  background: white;
  margin-top: -52px;
  padding: 8px;
  text-align: center;
}

a.user-link {
  color: #0f15c9;
  font-size: 14px;
}

.auth-error {
  color: red;
  text-align: center;
  text-transform: capitalize;
}
