.table-container {
    border: 1px solid black;

    display:  table;
width:auto;
        background-color:#eee;
        border:1px solid  #666666;
        border-spacing:5px;
}

.header-row {
    border: 1px solid black;
    display: flex;
}

.header-cell {
    background: yellow;
    margin: 20px;
    flex-grow: 1;
}

.table-row {
    border: 1px solid black;
    display: table-row;
    width: auto;
}

.table-cell {
    /* background: pink;
    margin: 20px;
    flex-grow: 1; */

    float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
        background-color:#ccc;
}

.body {
    border: 1px solid black;
}