.table-container {
    display:table;
    width: 100%;
    border: 1px solid black;
}

.header-row {
    border: 1px solid black;
    display: table-header-group;
}

.header-cell {
    display: table-cell;
    background: yellow;
    border: 1px solid black;
}

.table-row {
    border: 1px solid black;
    display: table-row;
}

.table-cell {
    display:table-cell;
    border: 1px solid black;
}

.body {
    display: table-row-group;
    border: 1px solid black;
}