.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-body {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  grid-template-rows: 24px 1fr 24px;
  grid-template-areas:
    "header page page"
    "navigation page page"
    "footer footer footer";
  height: 100vh;
}

.app-page {
  grid-area: page;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  max-height: 24px;
}

.navigation {
  grid-area: navigation;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 24px 0;
}

.navigation ul li {
  padding: 6px 0;
}

.navigation a {
  color: inherit;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
